<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sun.ch.custom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="自定义控件"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--优酷菜单-->
        <activity android:name=".YoukuActivity" />
        <!--轮播图片-->
        <activity android:name=".ScannerActivity" />
        <!--自定义开关-->
        <activity android:name=".SwitchActivity" />
        <!--自定义轮播器-->
        <activity android:name=".MyScannerActivity" />

    </application>

</manifest>